*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --border: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  border: 0;
}

main > section > div {
  padding: 4rem 2rem;
  display: flex;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: var(--border);
  left: var(--border);
  bottom: var(--border);
  right: var(--border);
}

section {
  height: 100vh;
  width: 100%;
  position: relative;
  display: block;
}

section::before {
  background: var(--red);
  background: repeating-linear-gradient(
    -45deg,
    var(--red),
    var(--red) 12px,
    transparent 12px,
    transparent 24px,
    var(--blue) 24px,
    var(--blue) 36px,
    transparent 36px,
    transparent 48px
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

section::after {
  background-color: white;
  content: "";
  position: absolute;
  top: var(--border);
  left: var(--border);
  bottom: var(--border);
  right: var(--border);
  z-index: -1;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
  margin-top: 1rem;
}

.title {
  color: var(--primary);
}

a {
  color: var(--primary);
}

.left,
.right {
  width: 25%;
  min-width: 25%;
}

.tree-section {
  height: 100%;
  width: 100%;
}

.tree {
  position: relative;
  width: max-content;
  height: 100%;
  margin: 0 auto;
}

.tree > svg {
  height: 100%;
  width: 100%;
}

.ornaments {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  place-items: center;
  list-style: none;
}

.ornament {
  aspect-ratio: 1;
  height: 45%;
  background: var(--white);
  border-radius: 50%;
}

.ornament > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
}

.ornament:nth-child(1) {
  grid-column: 3;
}

.ornament:nth-child(2) {
  grid-column: 2 / span 2;
}

.ornament:nth-child(3) {
  grid-column: 2;
}

.ornament:nth-child(4) {
  grid-column: 3 / span 2;
}

.ornament:nth-child(5) {
  grid-column: 2 / span 2;
}

.ornament:nth-child(7) {
  grid-column: 2;
}

.ornament:nth-child(9) {
  grid-column: span 2;
}

.ornament:nth-child(10) {
  grid-column: 2 / span 2;
}

.ornament:nth-child(12) {
  grid-column: 1;
}

.ornament:nth-child(3n) {
  transform: translateY(-75%);
  background: var(--red);
}

.ornament:nth-child(2n) {
  transform: translateY(30%);
  background: var(--blue);
}

.ornament:nth-child(2n) > a,
.ornament:nth-child(3n) > a {
  color: white;
}
